*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3c5471;
}

header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0e14;
}
.pesquisar{
    height: 46%;
    width: 35vw;
    background-color: #9a9a9a;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    /*padding-inline: 1vw;*/
}

.busca{
    background-color: #9a9a9a;
    font-style: italic;
    font-size: 1vw;
    border: none;
    border-radius: 1vh;
    height: 90%;
    flex-grow: 1;
    margin-left: 1vw;
}
.lupa{
    height: 80%;

}

.logo{
    height: 42%;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 4vw;;
}

.texto1 h1{
    font-style: italic;
    font-size: 5vh;
    color: white;
}

.perfil{
    height: 42%;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
}

.imgP{
    height: 8vh;
}


main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.conteudo {
    width: 55%;
    height: 100%;
    display: inline-block;
    
}
.filmes{
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
    padding-left: 4vw;
    margin-top: 2vh;
    
}

.texto2 h2{
    font-style: italic;
    font-size: 4vh;
    color: white;
    margin-top: 3vh;
    
}

.filme1{
    height: 17vw;
    width: 13vw;
    margin-top: 1vh;
    margin-right: 1vw;
    margin-bottom: 3vw;
    display:inline-block;
    
}
.filme1 h3{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 2vh;
}
.filme1 h4{
    color: rgb(187, 187, 187);
    margin-top: 2vh;
    margin-left: 1vw;
}
.filme2{
    height: 17vw;
    width: 13vw;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-bottom: 3vw; 
    display:inline-block;
}

.filme2 h3{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 1.7vh;
}
.filme2 h4{
    color: rgb(187, 187, 187);
    margin-top: 2vh;
    margin-left: 1vw;
}
.filme3{
    height: 17vw;
    width: 13vw;
    margin-top: 2vw;
  
    margin-bottom: 3vw;
    display:inline-block;
}

.filme3 h3{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 2vh;
}

.filme3 h4{
    color: rgb(187, 187, 187);
    margin-top: 2vh;
    margin-left: 1vw;
}

.filme4{
    height: 17vw;
    width: 13vw;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-bottom: 3vw;
    display:inline-block;
    
}
.filme4 h3{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    
    font-size: 1.7vh;
}
.filme4 h4{
    color: rgb(187, 187, 187);
    margin-top: 2vh;
    margin-left: 1vw;
}
.filme5{
    height: 17vw;
    width: 13vw;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-bottom: 3vw; 
    display:inline-block;
}

.filme5 h3{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 2vh;
}
.filme5 h4{
    color: rgb(187, 187, 187);
    margin-top: 2vh;
    margin-left: 1vw;
}
.filme6{
    height: 17vw;
    width: 13vw;
    margin-top: 2vw;
   
    margin-bottom: 3vw;
    display:inline-block;
}

.filme6 h3{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 2vh;
}

.filme6 h4{
    color: rgb(187, 187, 187);
    margin-top: 2vh;
    margin-left: 1vw;
}

.destaque{
    width: 45%;
    height: 100%;
    align-items: center;
    padding-right: 1vw;
    display: flex;
    
}
.catalogo{
    background-color: #0D0E14;
    width: 80%;
    height: 82%;
    border-radius: 1vh;
    margin-top: 3vh;
    margin-left: 5vw;
    

}

.imagem1{
    width: 100%;
    height: 50%;
   
}

.catalogo h3{
    margin-top: 1vh;
    color: white;
    margin-left: 1vw;
    font-size: 2vh;
}

.catalogo h5{
    margin-top: 1vh;
    color: white;
    text-align: left;
    font-size: 23px;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
   
}
.catalogo h4{
    margin-top: 1vh;
    color: rgb(187, 187, 187);
    margin-left: 1vw;
    font-size: 2vh;
    
}

